@tailwind base;
@tailwind components;
@tailwind utilities;

/* playfair styles.css 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

@layer components {
  .scrollBar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollBar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@layer components {
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .bg-gradient-animation {
    background: linear-gradient(
      270deg,
      #ff7e5f,
      /* soft orange */ #feb47b,
      /* peach */ #ff6f69,
      /* coral */ #ffcc66,
      /* light yellow */ #66ffcc,
      /* aqua */ #66ccff,
      /* sky blue */ #9966ff,
      /* purple */ #ff6699 /* pink */
    );
    background-size: 1200% 1200%;
    animation: gradient-animation 13s ease infinite;
  }
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/gt-super-400-normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font globally or to specific elements */
body {
  font-family: "CustomFont", sans-serif;
  background-color: #f7f4ed;
}
